nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
